
.Reset{
  width: 100px;
  height: 30px;
  background-color: lightgreen;
  margin: 50px;

}
.btnAdd{
  width: 100px;
  height: 30px;
background-color: lightgreen;
margin: 50px;

}
.radioz{
  padding: 30px;
}
.Show{
  width: 100px;
  height: 30px;
background-color: lightgreen;
margin: 50px;
}
